$lightest: hsla(180, 80%, 85%, 1);
$lighter: hsla(180, 75%, 70%, 1);
$light: hsla(180, 50%, 50%, 1);
$dark: hsla(180, 50%, 30%, 1);
$darker: hsla(180, 50%, 30%, 1);
$darkest: hsla(180, 50%, 15%, 1);

$overlay: hsla(180, 75%, 75%, 0.3);
