@import './base/colors.scss';

.form, form, .password {
  background-color: $base-light;
  text-align: center;
  padding: 10px;
  border-radius: 5%;

  .error-list {
    background-color: white;
    color: red;
    padding: 15px;
    padding-left: 20px;
    list-style: disc;
    border-radius: 20%
  }

  h2 {
    margin-top: 40px;
  }

  .modal-link {
    float: right;
    span {
      color: $contrast-lightest;
    }
    span:hover {
      cursor: pointer;
    }
  }

  .date-input {
    background-color: white;
  }

  .text-input, .textarea-input, .date-input, .number-input {
    position: relative;
    top: 0.2em;
    margin: 15px auto;
    width: 50%;

    > input {
      width: 100%;
      height: 2em;
      background-color: white;
    }

    > textarea {
      width: 100%;
      height: 4em;
      background-color: white;
      &:focus {
        & + label {
          opacity: 0;
        }
      }
      &:valid::before {
        content: ""
      }
    }

    .number-input {
      width: 40%;
    }

    > input[type="text"],
    > input[type="email"],
    > input[type="password"],
    > input[type="date"],
    > input[type='number'] {
      &:focus {
        & + label {
          opacity: 0;
        }
      }
      &:valid::before {
        content: ""
      }
    }

    > label {
      top: 0.2em;
      position: absolute;
      left: 0.8em;
      opacity: 0.3;
    }
  }

  button {
    margin-top: 2em;
    width: 30%;
    padding: 15px;
    background: linear-gradient(0deg, $contrast-darker, $contrast-lighter);
  }

  button:hover {
    background: linear-gradient(0deg, $contrast-dark, $contrast-lightest)
  }

  button:active {
    background: linear-gradient(0deg, $contrast-darker, $contrast-lighter)
  }

  input:focus {
    border: 2px solid red;
    background-color: $contrast-lightest;
  }
}
