@import './base/colors.scss';

.form {
  min-width: 440px;
  background-color: $base-light;
  text-align: center;
  padding: 25px;
  border-radius: 5%;

  .error-list {
    background-color: white;
    color: red;
    padding: 15px;
    padding-left: 20px;
    list-style: disc;
    border-radius: 20%
  }

  h2 {
    margin-top: 40px;
  }

  /* For links at top left of form modals */

  .modal-link {
    float: right;
    span {
      color: $contrast-lightest;
    }
    span:hover {
      cursor: pointer;
    }
  }

  /* Make labels appear as placeholders */

  .text-input, .textarea-input, .number-input {
    position: relative;
    top: 0.2em;
    margin: 15px auto;
    width: 50%;

    > input {
      width: 100%;
      height: 2em;
      background-color: white;
    }

    > textarea {
      width: 100%;
      height: 4em;
      background-color: white;
      &:focus, &:not(:placeholder-shown) {
        & + label {
          opacity: 0;
        }
      }
      &:valid::before {
        content: ""
      }
    }

    > input[type="number"] {
      position: relative;
      left: 70px;
    }

    > input[type="text"],
    > input[type="email"],
    > input[type="password"] {
      &:focus, &:not(:placeholder-shown) {
        & + label {
          opacity: 0;
        }
      }
      &:valid::before {
        content: ""
      }
    }

    > label {
      top: 0.2em;
      position: absolute;
      left: 0.8em;
      opacity: 0.3;
      font-weight: bold;
    }
  }

  /* Make checkboxes appear as stars for ratings */
  .rating-stars {
    position: relative;

    input[type="radio"] {
      opacity: 0;
      position: relative;
      margin-right: 10px;
      width: 22px;
      height: 22px;
      left: 8px;
      z-index: 2;
    }

    input[type="radio"] + span:before {
      position: relative;
      left: -20px;
      font-family: 'FontAwesome';
      padding-right: 3px;
      font-size: 20px;
      content: "\f005"; /* filled-in star for stars up to checked */
    }

    input[type="radio"]:checked ~ input[type="radio"] + span:before {
      content: "\f006"; /* hollow star for stars after checked star */
    }
  }

  .number-input {
    label {
      opacity: 0.5;
    }
    input[type="number"] {
      width: 20%;
    }
    #min-wage {
      position: relative;
      left: 40px;
    }
  }

  .photo-input button {
    font-size: 100%;
    text-shadow: 2px 2px black;
    width: 50%;
  }
  //
  // .map-wrapper {
  //   width: 80%;
  //   height: 80%;
  //
  //   .map {
  //     width: 300px;
  //     height: 300px;
  //   }
  // }

  button {
    margin-top: 2em;
    width: 30%;
    padding: 15px;
    background: linear-gradient(0deg, $contrast-darker, $contrast-lighter);
  }

  button:hover {
    background: linear-gradient(0deg, $contrast-dark, $contrast-lightest)
  }

  button:active {
    background: linear-gradient(0deg, $contrast-darker, $contrast-lighter)
  }

  input:focus {
    border: 2px solid red;
    background-color: $contrast-lightest;
  }
}
