@import './base/colors.scss';

.form, form, form div {
  width: 100%;
  background-color: $base-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 5%;

  .error-list {
    background-color: white;
    color: red;
    padding: 15px;
    padding-left: 20px;
    list-style: disc;
    border-radius: 20%
  }

  label {
    width: 80%;
    margin: 0.8em;
  }

  button {
    margin-top: 2em;
    width: 70%;
    background: linear-gradient(0deg,
    $contrast-darker,
    $contrast-lighter);
  }

  button:hover {
    background: linear-gradient(0deg, $contrast-dark, $contrast-lightest)
  }
  button:active {
    background: linear-gradient(0deg, $contrast-darker, $contrast-lighter)
  }

  h2 {

  }

  input {
    width: 100%;
    background-color: white;
  }

  input:focus {
    background-color: $contrast-lightest;
  }

}
