header {
  font-weight: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  text-align: left;

  img {
    margin: 10px;
    width: 220px;
  }

  h1, h5 {
    font-family: 'Fredoka One', cursive;
  }

  .tagline {
    margin-top:10px;
    position: relative;
    left: 10%;
  }

  #login-box {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    img {
      border-radius: 25%;
    }
    .popup {
      position: relative;
      top: -100px;
      height: 0;
      display: none;
      button {
        padding: 10px;
      }
    }
    .popup-buttons {
      display: none;
    }
  }
  #login-box section:hover .popup {
    display: block;
  }
  #login-box section:hover .popup-buttons {
    display: flex;
    flex-direction: column;
  }
}
