header {
  font-weight: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  text-align: left;

  img {
    margin: 10px;
    width: 220px;
  }

  h1, h5 {
    font-family: 'Fredoka One', cursive;
  }

  .tagline {
    margin-top:10px;
    position: relative;
    left: 10%;
  }

  #login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    img {
      border-radius: 25%;
      float: right;
    }

    .fa {
      margin-right: 20px;
      float: right;
    }

    .popup, .popup-buttons {
      position: relative;
      display: none;
    }
  }
  #login-box section:hover .popup-buttons,
  #login-box section:hover .popup {
    position: absolute;
    width: 15%;
    right: 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    button {
      margin: 0;
      width: 100%;
    }
  }
}
