header {
  font-weight: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid black;
  text-align: left;

  img {
    margin: 10px;
    width: 220px;
  }

  h1, h5 {
    font-family: 'Fredoka One', cursive;
  }
  //
  h1 {
    font-size: 38px;
  }
  h5 {
    font-size: 18px;
  }

  .tagline {
    margin-top:10px;
    position: relative;
    left: 10%;
  }

  #login-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
