@import './base/colors.scss';

.workers-index-wrapper h1 {
  margin-top: 25px;
}

.workers-index, .jobs-index {
  margin: 0 auto;
  margin-top: 20px;
  cursor: pointer;
  border: 3px solid $base-dark;
  width: 80%;

  > div {
    margin: 1em auto;
  }

  h1 {
    margin: 20px auto;
  }

  .workers-index-item .details h4 {
    margin-top: 25px;
  }

  .jobs-index-item .workers-index-item {
    padding: 2em;
    min-height: 250px;
    background: linear-gradient(45deg, $base-light, $base-dark);
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .cost-details, .status-details {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.details {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
  }

  .name {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    h3 {
      margin-left: 6px;
    }
  }
}

.workers-index {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;

  .workers-index-item {
    width: 400px;
    border-radius: 5px;
    margin:10px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(45deg, $base-light, $base-dark);

    img {
      margin: 15px;
      border-radius: 10%;
      width: 300px;
      height: auto;
    }
  }
}

.workers-index-item:hover, .jobs-index-item:hover {
  background: linear-gradient(45deg, $base-lighter, $base-light);
}
