@import './base/colors.scss';

.workers-index-wrapper, .jobs-index-wrapper {
  margin-top: 25px;

  .add-job {
    width: 200px;
  }
}

.jobs-index, .workers-index {
  border: 3px solid $base-dark;
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;

  > div {
    margin: 1em auto;
  }

  .jobs-index-item, .workers-index-item {
    border-radius: 5px;
    background: linear-gradient(45deg, $base-lighter, $base-dark);
  }

  .jobs-index-item {
    padding: 2em;
    min-height: 250px;

    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-around;
    margin-top: 20px;
    height: 100px;

    .cost-details, .status-details {
      display: flex;
      flex-direction: column;
      justify-content: space-around;;
      align-items: center;
      width: 40%;
    }
  }
}

.details {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
  }

  .name {
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    h3 {
      margin-left: 6px;
    }
  }
}

.workers-index {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;

  .workers-index-item {
    width: 400px;
    margin:10px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    img {
      margin: 15px;
      margin-top: 25px;
      border-radius: 10%;
      width: 300px;
      height: auto;
    }
  }
}

.workers-index-item:hover, .jobs-index-item:hover {
  background: linear-gradient(45deg, $base-lightest, $base-dark);
  cursor: pointer;
}
