.jobs-search {
  .filters {
    display: flex;
    flex-direction: row;

    .jobs-filter-form {
      width: 30%;
      display: flex;
      flex-direction: column;
      padding: 2em;

      .job-types {
        text-align: left;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .filter-checkbox {
          width: 8em;
          height: 2em;

          input[type='checkbox'] {
            display: none;
          }

          input[type=checkbox] {
            display:none;
          }
          
          input[type=checkbox] + label:before {
            font-family: FontAwesome;
            display: inline-block;
          }

          input[type=checkbox] + label:before {
            content: "\f096"; // empty box
          }
          input[type=checkbox] + label:before {
            letter-spacing: 0.4em;
          }

          input[type=checkbox]:checked + label:before {
            content: "\f046"; // checked box
          }
          input[type=checkbox]:checked + label:before {
            letter-spacing: 0.2em;
          }
        }
      }
    }
  }
}
