@import './base/colors.scss';
@import './base/fonts.scss';

nav {
  margin: 0 auto;
  background-color: hsla(0,0,15%,1);
  padding: 1px;
  border-bottom: solid black 2px;
  font: $normal;
  font-size: 1.3em;

  .inner {
    width: 75%;
    margin: 0 auto;
    color: $grey-lightest;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  li {
    padding: 15px;
    margin-right: 10px;
    border-radius: 20px;
  }
  li:hover {
    background-color: $overlay;
    color: white;
  }
}
