@import './base/colors.scss';
@import './base/fonts.scss';

nav {
  background-color: hsla(0,0,15%,1);
  font: $normal;
  font-size: 1.3em;


  .inner {
    width: 90%;
    margin: 0 auto;
    color: $grey-lightest;
    height: 100px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo img {
      width: 130px;
      border-radius: 10%;
      border: 2px solid hsla(0,0,15%,1);
      margin-top: 10px;
      position: relative;
    }

    ul {
      min-width: 40%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;

      .current {
        color: $base-lightest;
        background-color: $overlay;
      }
    }
  }
  .drop-down {
    background-color: hsla(0,0,15%,1);
    display: none;
    border-radius: 20%;
  }
  .dropper {
    position: relative;
  }

  .dropper:hover .drop-down {
    position: absolute;
    display: block;
  }

  a {
    display: inline-block;
    padding: 15px;
    margin-right: 10px;
    border-radius: 20px;
  }

  a:hover {
    background-color: $overlay;
    color: white;
  }

  #login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 134px;
    height: 130px;
    position: relative;
    width: 130px;
    border-radius: 10%;
    border: 2px solid #BBB;
    background-color: hsla(0,0,15%,1);

    h5 {
      font-size: 1.2em;
    }
    //
    // .unlogged {
    //   position: relative;
    //   top: 25px;
    // }

    img {
      border-radius: 25%;
      width: 80%;
      height: auto;
    }
    //
    // .logout {
    //   position: relative;
    // }

    .popup, .popup-buttons {
      position: relative;
      display: none;

      .highlight {
        background: linear-gradient(180deg,
                                    $contrast-light,
                                    $contrast-darkest);
      }
      .highlight:hover {
        background: linear-gradient(180deg,
                                    $contrast-lighter,
                                    $contrast-dark);
      }
    }
  }

  #login-box div:hover .popup-buttons,
  #login-box div:hover .popup {
    position: absolute;
    right: -15px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    button {
      margin: 0;
      width: 50%;
      min-width: 120px;
      padding: 20px;
    }
  }
}
