@import './base/colors';

.worker-show {
  display: flex;
  flex-direction: row-reverse;
}

.job-show {
  display: flex;
  flex-direction: column;

  .job-show-details {
    div {
      display: flex;
      flex-direction: row;
    }
  }

  button {
    background: linear-gradient(0deg, $contrast-darkest, $contrast-light);
    width: 100px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
}

.worker-show, .job-show {
  background: linear-gradient(90deg, $base-darker, $base-lighter);
  width: 80%;
  margin: 0 auto;

  img {
    width: 40%;
    margin: 20px;
    padding: 20px;
    float: right;
  }

  a {
    font-size: 1.2em;
    color: $base-lightest;
    cursor: pointer;
  }
  a:hover {
    text-decoration: underline;
  }

  .job-show-details {
    span {
      color: $contrast-lighter;
      position:relative;
    }
    table {
      margin: 30px auto;
      border: 2px $contrast-dark solid;
    }

    th {
      font-size: 150%;
      padding: 25px;
    }

    td {
      padding: 20px;
      height: 200%;
      vertical-align: center;
    }
    tr:nth-child(odd) {
      background-color: $contrast-light;
    }
    tr:nth-child(even) {
      background-color: white;
    }
  }
  div {
    padding: 20px;
    margin:20px;

    h2 {
      margin: 25px;
    }

    h4 {
      margin-top: 20px;
    }

    h5 {
      text-align: left;
      text-indent: 40px;
    }

    p {
      margin: 20px;
      text-align: left;
    }
  }
}
